@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

@import url("./cards.css");
@import url("./buttons.css");

:root {
  --bg-color-light: #f0f5f9;
  --main-color-light: #a43b46;
  --bg-color-dark: #262835;
  --main-color-dark: #1e2128;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--bg-color-dark) !important;
  color: #fff !important;
  transition: background-color 0.3s ease;
}
body.light {
  background-color: var(--bg-color-light) !important;
}
a {
  text-decoration: none !important;
  color: #fff !important;
}

/* NAVBAR + FOOTER */
.navbar {
  position: sticky !important;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
  color: #fff;
  transition: background-color 0.3s ease;
}
.navbar.light {
  background-color: var(--main-color-light);
}

.logo {
  cursor: pointer;
  transition: transform 0.2s ease;
  padding-right: 0.5rem;
  font-family: "Dancing Script", cursive;
}
.logo span {
  font-size: 1.6rem;
  margin-right: 0.2rem;
}

.logo:hover {
  transform: scale(1.1);
}
.navbar-list {
  list-style-type: none;
}
.navbar-list li {
  cursor: pointer;
  font-size: 0.95rem;
}
.navbar-list li:hover .underline {
  width: 100%;
}
.fa-solid {
  padding-right: 0.4rem;
  font-size: 0.9rem;
}

footer {
  background-color: var(--main-color-dark);
  color: #fff;
  padding: 1rem;
  margin-top: 4rem;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}
footer.light {
  background-color: var(--main-color-light);
}
.footer-logo {
  font-family: "Dancing Script", cursive;
  font-size: 1.4rem;
}
.footer-underline {
  background-color: #fff;
  width: 100%;
  height: 0.05px;
}
.footer-nav {
  list-style-type: none;
  margin: 0.4rem 0 0.8rem;
}
.footer-nav span:hover {
  color: #ccc;
}
footer small {
  font-size: 0.7rem;
}

/*HOMEPAGE */

.heading {
  margin: 4rem 0 2rem 2.5rem;
  color: #fff;
  font-weight: 800;
  transition: color 0.3s ease;
}
.heading.light {
  color: #000;
}
.underline {
  height: 1px;
  background-color: #fff;
  width: 0;
  transition: width 0.5s ease;
}
.underline.light {
  background-color: #000;
}
.heading:hover .underline {
  width: 30%;
}

.results {
  margin: 2rem 0;
}

/* SEARCHBAR */
.search-form {
  margin: 5rem 0 1rem;
  position: relative;
}
.search-bar {
  width: 100%;
  padding: 1.5rem 2.5rem;
  font-size: 1.3rem;
  font-family: inherit;
  border: 0;
  border-radius: 1rem;
  background-color: var(--main-color-dark);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease, transform 0.3s ease,
    background-color 0.3s ease;
  color: #fff;
}
.search-bar.light {
  background-color: var(--main-color-light);
  color: #000;
}
.search-bar.light::placeholder {
  color: var(--bg-color-light);
}
.search-bar.light:focus::placeholder {
  color: #454545;
}
.search-bar:focus {
  outline: 0;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
  background-color: transparent;
  transform: translateY(-15px);
}
.delete-query-btn {
  position: absolute;
  right: 3rem;
  top: 1rem;
  cursor: pointer;
  font-size: 1.4rem;
  color: #ccc;
}
.delete-query-btn.light {
  color: #000;
}
.delete-query-btn:hover {
  transform: scale(1.1);
  color: #fff;
}
.delete-query-btn.light:hover {
  color: #454545;
}

/* MOVIE & SERIES DETAILS */
.details-container {
  height: 85vh;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
}
.movie-details h1,
.series-details h1 {
  font-size: 3rem;
  margin-bottom: 0.2rem;
}
.info {
  margin-bottom: 2rem;
  font-size: 1rem;
}
.overview {
  width: 50%;
  line-height: 1.8rem;
  margin-top: 1.5rem;
  text-align: justify;
}
.cast-info {
  margin-top: 2.2rem;
}

/* MEDIA QUERIES */

@media (max-width: 830px) {
  .dark-light-btn {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .navbar {
    font-size: 0.8rem;
  }
  .logo {
    font-size: 0.9rem;
  }
  .search-bar {
    font-size: 0.8rem;
  }
  .navbar-page {
    display: none;
  }
  .movie-details h1,
  .series-details h1 {
    font-size: 2rem;
  }
  .overview {
    width: 75%;
    line-height: 1.6rem;
  }
}
@media (max-width: 600px) {
  .navbar-list {
    gap: 1rem;
  }
  .result-card {
    width: 9rem;
    height: 15rem;
  }
  .genre-card {
    width: 8rem;
    height: 5rem;
  }
  .genre-card h4 {
    font-size: 1rem;
  }
  .watchlist-card {
    width: 11rem;
    height: 16rem;
  }
  .logo span {
    font-size: 1.2rem;
    margin-right: 0.8rem;
  }
  .dark-light-btn {
    display: none;
  }
}
