@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Pacifico&display=swap");

@import url("./cards.css");

:root {
  /* --bg-color-light: #fff; */
  --bg-color-dark: #262835;
  --navbar-color-dark: #222831;
  /* --navbar-color-light: #a43b46; */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--bg-color-dark) !important;
  color: #fff !important;
}
a {
  text-decoration: none !important;
  color: #fff !important;
}

/* NAVBAR */
.navbar {
  position: sticky !important;
  top: 0;
  z-index: 10;
  background-color: var(--navbar-color-dark);
  color: #fff;
}
.logo {
  cursor: pointer;
  transition: transform 0.2s ease;
  /* font-family: "Cedarville Cursive", cursive; */
}
.logo span {
  font-size: 1.5rem;
  margin-right: 0.2rem;
}

.logo:hover {
  transform: scale(1.1);
}
.navbar-list {
  list-style-type: none;
}
.navbar-list li {
  cursor: pointer;
  font-size: 0.95rem;
}
.navbar-list li:hover .underline {
  width: 100%;
}
.fa-solid {
  padding-right: 0.4rem;
  font-size: 0.9rem;
}
.dark-light-btn {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 0.2rem 0.4rem;
  color: #fff;
  margin-left: auto;
  margin-right: 2rem;
}
.dark-light-btn:hover {
  color: #000;
  background-color: #fff;
}

/* FOOTER */
footer {
  background-color: var(--navbar-color-dark);
  color: #fff;
  font-size: 0.8rem;
}

/*HOMEPAGE */
.heading {
  margin: 4rem 0 2rem 2.5rem;
  color: #fff;
  font-weight: 800;
}
.underline {
  height: 0.2px;
  background-color: #fff;
  width: 0;
  transition: width 0.5s ease;
}
.heading:hover .underline {
  width: 30%;
}

.results {
  margin: 2rem 0;
}
.search-form {
  margin: 5rem 0 1rem;
  position: relative;
}
.search-bar {
  width: 100%;
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  font-family: inherit;
  border: 0;
  border-radius: 1rem;
  background-color: var(--navbar-color-dark);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
  transition: transform 0.3s ease;
  color: #fff;
}
.search-bar:focus {
  outline: 0;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
  background-color: transparent;
  transform: translateY(-15px);
}
.delete-query-btn {
  position: absolute;
  right: 3rem;
  top: 1rem;
  cursor: pointer;
  font-size: 1.4rem;
  color: #ccc;
}
.delete-query-btn:hover {
  transform: scale(1.1);
  color: #fff;
}

/* MOVIE & SERIES DETAILS */
.details-container {
  height: 85vh;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
}

.movie-details h1,
.series-details h1 {
  font-size: 3rem;
  margin-bottom: 0.2rem;
}
.info {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.overview {
  width: 50%;
  line-height: 1.8rem;
  margin-top: 1.5rem;
  text-align: justify;
}
.movie-btns,
.series-btns {
  margin-top: 2.5rem;
}
.trailer-btn,
.fav-btn {
  background: transparent;
  color: #fff;
  padding: 0.5rem 0.7rem;
  border: 1px solid #fff;
  border-radius: 0.6rem;
  transition: background-color 0.4s ease;
}
.trailer-btn:hover,
.fav-btn:hover {
  background-color: #fff;
  color: #000;
}
.trailer-btn:active,
.fav-btn:active {
  outline: 0;
  transform: scale(0.96);
}
.cast-info {
  margin-top: 2.2rem;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .navbar {
    font-size: 0.8rem;
  }
  .logo {
    font-size: 0.9rem;
  }
  .search-bar {
    font-size: 0.8rem;
  }
  .navbar-page {
    display: none;
  }
  .movie-details h1,
  .series-details h1 {
    font-size: 2rem;
  }
  .overview {
    width: 75%;
    line-height: 1.6rem;
  }
}
@media (max-width: 600px) {
  .navbar-list {
    gap: 1rem;
  }
  .movie-card,
  .series-card {
    width: 9rem;
    height: 15rem;
  }
  .genre-card {
    width: 8rem;
    height: 5rem;
  }
  .genre-card h4 {
    font-size: 1rem;
  }
  .logo span {
    font-size: 1.2rem;
    margin-right: 0.8rem;
  }
  .dark-light-btn {
    display: none;
  }
}
